<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
	<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
	  
	<!--Configuração usada no WebService-->
	<add key="PRODUCT_LINE" value="BE03" />
	<add key="Type" value="L10" />
	<add key="Customer" value="ROKU" />
	<add key="MILLISECONDS-TIMEOUT" value="1000" />
	  
	<!--Configuração dos diretórios onde ficam os executáveis dos testes -->
	<add key="Path_Test_PT" value="D:\PT\AmbitUI.jar" />
	<add key="Directory_Test_PT" value="D:\PT\" />
	  
	<add key="Path_Test_FT" value="D:\FT\AmbitUI.jar" />
	<add key="Directory_Test_FT" value="D:\FT\" />

	<add key="Path_Test_RC" value="D:\RC\AmbitUI.jar" />
	<add key="Directory_Test_RC" value="D:\RC\" />

	<add key="Path_Test_LASER" value="D:\LASER\AmbitUI.jar" />
	<add key="Directory_Test_LASER" value="D:\LASER\" />

	<add key="Path_Test_AUTO_OBA" value="D:\OBA\AmbitUI.jar" />
	<add key="Directory_Test_AUTO_OBA" value="D:\OBA\" />
	  

	<!--Configuração dos diretórios onde a aplicação tem que buscar os logs para comunicar com o teste-->
	<add key="LogFilePT" value="D:\PT\LogFile" />
	<add key="LogFileFT" value="D:\FT\LogFile" />
	<add key="LogFileRC" value="D:\RC\LogFile" />
	<add key="LogFileLASER" value="D:\LASER\LogFile" />
	<add key="LogFileOBA" value="D:\OBA\LogFile" />
	  
  </appSettings>
  <connectionStrings>
	<add name="stringConexao" connectionString="server = 10.8.2.207; userid = engusr; password = Eng$up; database = mao_commscope_db" />
  </connectionStrings>
  <system.serviceModel>
	<bindings>
	  <basicHttpBinding>
		<binding name="WebServiceTestSoap" />
	  </basicHttpBinding>
	</bindings>
	<client>
	  <endpoint address="http://10.8.2.122:8091/WebServiceTest.asmx" binding="basicHttpBinding" bindingConfiguration="WebServiceTestSoap" contract="ServiceReferenceTEST.WebServiceTestSoap" name="WebServiceTestSoap" />
	</client>
  </system.serviceModel>
  <runtime>
	<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
	  <dependentAssembly>
		<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
		<bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
	  </dependentAssembly>
	</assemblyBinding>
  </runtime>
  <system.web>
	<membership defaultProvider="ClientAuthenticationMembershipProvider">
	  <providers>
		<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
	  </providers>
	</membership>
	<roleManager defaultProvider="ClientRoleProvider" enabled="true">
	  <providers>
		<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
	  </providers>
	</roleManager>
  </system.web>
</configuration>